

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style des champs de formulaire */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style du bouton de soumission */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Style des messages d'erreur */
.error-message {
  color: rgb(111, 0, 255);
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}
:root {
  /* --main-color:#DD2F6E; */
  --main-color: #212f5c;
  --color-dark: #1D2231;
  --text-gray: #8390A2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}


.sidebar-brand {
  height: 9px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}


.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
  transition: all ease-in-out 0.8s;
  
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  transition: all ease-in-out 0.8s;
  /* margin-bottom: 3rem; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
.sidebar-menu a:hover{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
  transition: all ease-in-out 0.8s;
}
.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main-content {
  margin-left: 255px;
  transition: margin-left 300ms;
  /* width: calc(100% - 345px); */
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transform: left 300;
  background-color: #fff;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 300px;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}


.user-wrapper small {
  display: inline-block;
  color: var(--text-gray);
}

main {
  margin-top: 75px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.card-single div:first-child span {
  color: var(--text-gray);
}

.card-single:last-child {
  background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}

.recent-grid {
  margin-top:  3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 80% auto;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 2rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--main-color); */
  border-bottom: 1px solid #fff;

}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--ma);
}

img {
  background: #000;
}

table {
  border-collapse: collapse;
}

table tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

table th {
  font-weight: 700;
}

td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
}

td .status {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

.status.purple {
  background: rebeccapurple;
}

.status.pink {
  background: deeppink;
}

.status.orange {
  background: orange;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}

.info {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: .8rem;
  font-weight: 7000;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-gray);
}

.contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--main-color);
}

#nav-toggle {
  display: none;

}

.las.la-bars {
  cursor: pointer;
}

#nav-toggle:checked+.sidebar {
  width: 70px;
}

#nav-toggle:checked~.main-content {
  margin-left: 70px;

}

#nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
  display: none;
  /* display: inline-block; */
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked+.sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked~.main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

@media only screen and (max-width:1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar li a {
    padding-left: 0rem;
  }

  .sidebar .sidebar-brand h1 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }

  .sidebar:hover {
    width: 345px;
    z-index: 200;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  .sidebar li a {
    padding-left: 1rem;
  }

  .sidebar:hover .sidebar-brand h1 span:last-child,
  .sidebar:hover li a span:last-child {
    /* display: inline; */
    display: inline-block;
  }
}

@media only screen and (max-width:960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .recent-grid {
    grid-template-columns: 60% 40%;
  }

  .main-content {
    margin-left: 70px;
    width: calc(100% - 70px);
  }


  #nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked+.sidebar li a span:last-child {
    /* display: none; */
    display: inline-block;
  }


}

@media only screen and (max-width:768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .search-wrapper {
    display: none;
  }

  .sidebar {
    left: -100% !important;
  }

  header h2 {
    display: flex;
    align-items: center;
  }

  header h2 label {
    background: var(--main-color);
    display: inline-block;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }

  .main-content {
    width: 100%;
    margin-left: 0rem;
  }

  header h2 {
    font-size: 1.1rem;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked+.sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  /* #nav-toggle:checked + .sidebar:hover{
    width: 345px;
    z-index: 200;
  } */
  #nav-toggle:checked+.sidebar-brand,
  #nav-toggle:checked+.sidebar:hover li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked+.sidebar li a {
    padding-left: 1rem;
    padding-left: 2rem;
    text-align: initial;
  }

  #nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked+.sidebar:hover li a span:last-child {
    display: inline;
  }

  #nav-toggle:checked~.main-content {
    margin-left: 0rem;
  }

  #nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked+.sidebar li a span:last-child {
    /* display: none; */
    display: inline-block;
  }
}

@media only screen and (max-width:560px) {
  .cards {
    grid-template-columns: 100%;
  }

  #nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked+.sidebar li a span:last-child {

    display: inline-block;
  }
}

/* Style pour le tableau */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
  margin-bottom: 20px;
}

/* Style pour les en-têtes de tableau */
th {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  text-align: left;
}

/* Style pour les cellules de tableau */
td {
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 15px;
}

/* Style pour les lignes alternées */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style pour les liens dans les cellules */


/* Style pour les liens survolés */
td a:hover {
  text-decoration: underline;
}


.customers .card {
  border: 2px solid #212f5c;
}

.search-icon {
  color: rgb(32, 85, 32); /* Change the color to green */
}
.green-btn {
  background-color: #f3f3f3; /* Couleur de fond rouge */
  color: rgb(17, 85, 48); /* Couleur du texte en blanc */
  border: rgb(17, 85, 48); /* Pas de bordure */
  padding: 5px 10px; /* Espacement intérieur */
  border-radius: 3px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris en pointeur */
}

.green-btn:hover {
  background-color: #dbbdbd; /* Couleur de fond rouge plus foncée au survol */
}


/* Style des cellules contenant les select */
/* Style pour les champs de texte */
td input[type="text"],
td select {
    width: 100%; /* Largeur de 100% pour remplir la cellule */
    padding: 8px; /* Espacement interne */
    font-size: 14px; /* Taille de la police */
    border: none; /* Pas de bordure */
    background-color: #f8f9fa; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    appearance: none; /* Supprime les styles natifs du navigateur */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre interne pour un effet de profondeur */
    transition: all 0.3s ease; /* Transition fluide */
    height: 40px; /* Hauteur fixe pour les éléments */
}

/* Style lorsque la liste déroulante est en hover */
td select:hover {
    background-color: #e9ecef; /* Couleur de fond au survol */
}

/* Style lorsque la liste déroulante est en focus */
td select:focus {
    outline: none; /* Pas de contour de focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre bleue */
}

/* Style des options de la liste déroulante */
td select option {
    padding: 8px; /* Espacement interne */
    background-color: #fff; /* Couleur de fond */
    color: #333; /* Couleur du texte */
}

/* Style des cellules contenant les inputs text */
td input:focus {
    outline: none; /* Pas de contour de focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre bleue */
}

td input:hover {
    background-color: #e9ecef; /* Couleur de fond au survol */
}

    /* Style des fenêtres modales */
    .modal {
        display: none; /* Caché par défaut */
        position: fixed; /* Position fixe pour rester au-dessus du contenu */
        z-index: 1; /* Place la fenêtre modale au-dessus du reste du contenu */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Permet de faire défiler la fenêtre si nécessaire */
        background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
    }

    /* Style du bouton de fermeture */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
main h2{
  display: flex;
  justify-content: center;
  color:rgb(0, 255, 76);
}