{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/styleaccueil.css' %}">
</head>
<body>

    <h1>Bienvenue E-Claim</h1>
    <div class="box">
        <a href="{% url 'login' %}" class="btn btn-primary">Login utilisateur</a>
    </div>
    <div class="box">
        <a href="{% url 'loginoperateur' %}" class="btn btn-primary">Login opérateur</a>
    </div>
    </div>
</body>
</html>