{% load static %}
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tableau de bord</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
  <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
</head>

<body>
  <input type='checkbox' id='nav-toggle'>
  <div class="sidebar">
      <div class="sidebar-brand">
          <h1>
              <span class="lab la-accusoft"></span> 
              <span>   </span>
              <!-- <span>Accusoft</span> -->
          </h1>
      </div>
      <div class="sidebar-menu">
        <ul>

        

        

        <li>
            <a href="http://127.0.0.1:8000/operateur/claim/" class="active"><i class="fas fa-clipboard-list"></i><span> claim</span></a>
        </li>

        <li>
            <a href="http://127.0.0.1:8000/operateur/profil/" ><i class="fas fa-user"></i><span>  Profil</span></a><i class="fa-solid fa-gears"></i>
        </li>

        <li>
            <a href="http://127.0.0.1:8000/operateur/login/"><i class="fas fa-sign-out-alt"></i><span>  Logout</span></a>
        </li>
        </ul>
        
      </div>
  </div>

  <div class="main-content">
      <header>
          <h2>
              <label for="nav-toggle">
                  <span class="las la-bars"></span>
              </label>
              Dashboard
          </h2>
          <div class="search-wrapper">
              <span class="las la-search"></span>
              <input type="search" placeholder="search here" />
          </div>
          <div class="user-wrapper">
            <img src="../../static/images/ITEAM.png" width="40px" height="40px" alt="">
            <div>
                <h4>GLSI</h4>
                <small>Super admin</small>
            </div>
          </div>
      </header>

      <main>
        <h2>
           Welcome you can choose options from sidebar
        </h2>      
      </main>
  </div>
</body>

</html>